/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

.main-container {
  max-width: var(--page-main-content-width);
  margin-inline: auto;
  padding-block: var(--space-xxlarge);
  padding-inline: var(--space-xxlarge);
}

#list {
  margin-block-start: var(--space-large);
}

moz-box-group {
  margin-inline: 0;
}
